@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
  background: #fff;
  font-family:Raleway;
}

h1 {
  margin-top: 80px;
  color: black;
}

#slider1 {
  color: black;
  margin-top:  100px;
}

.dot {
  fill: #000;
}

.guy {
  margin-left:150px;
  margin-top:100px;
}

.ring {
  fill: none;
  stroke: #000;
}

.rect {
  fill: none;
  stroke: #000;
}

#interactions {
  margin-left: 150px;
  margin-right: auto;
}