body {
  background: #fff;
}

h1 {
  margin-top: 80px;
  color: black;
}

#slider1 {
  color: black;
  margin-top:  100px;
}

.dot {
  fill: #000;
}

.guy {
  margin-left:150px;
  margin-top:150px;
}

.ring {
  fill: none;
  stroke: #000;
}

.rect {
  fill: none;
  stroke: #000;
}